# === Database ===
MYSQL_ROOT_PASSWORD=Nguyenvanhoang2005@
MYSQL_USER=vietmoney
MYSQL_PASSWORD=Nguyenvanhoang2005@
DATABASE_URL=jdbc:mysql://mysql:3307/vietmoney_db

# === Security ===
JWT_SECRET=

# === Email (Gmail) ===
MAIL_USERNAME=
MAIL_PASSWORD=

# === Google Maps ===
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# === Exchange Rate API ===
EXCHANGE_RATE_API_URL=https://open.er-api.com/v6/latest/VND

#=======Cloudinary====
CLOUDINARY_CLOUD_NAME=dwexwvnif
CLOUDINARY_API_KEY=283889734282549
CLOUDINARY_API_SECRET=FFL-VG3T4j8aELxoj8z9h20ZyU4

# === Spring Profile ===
SPRING_PROFILES_ACTIVE=dev

# === Frontend Settings ===
VITE_IMGBB_API_KEY=cd33a941f3314eca582b68c062ea2f93
