# Java / Maven
backend/target/
backend/*.jar
*.class

# Node
frontend/node_modules/
frontend/dist/

# Python
ai-service/__pycache__/
ai-service/**/__pycache__/
ai-service/.venv/
ai-service/app/models/*.pt

# Environment (IMPORTANT)
*.env
*.env.*

# Spring Boot config (IMPORTANT)
backend/src/main/resources/application.yml
backend/src/main/resources/application-*.yml

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp